//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
//@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "~bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: CreightonPro-Book;
  src: url('assets/fonts/2C8F17_0_0.eot');
  src: url('assets/fonts/2C8F17_0_0.eot?#iefix') format("embedded-opentype"),url('assets/fonts/2C8F17_0_0.woff2') format("woff2"),url('assets/fonts/2C8F17_0_0.woff') format("woff"),url('assets/fonts/2C8F17_0_0.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DINCondensed-Regular;
  src: url('assets/fonts/2C8F17_1_0.eot');
  src: url('assets/fonts/2C8F17_1_0.eot?#iefix') format("embedded-opentype"),url('assets/fonts/2C8F17_1_0.woff2') format("woff2"),url('assets/fonts/2C8F17_1_0.woff') format("woff"),url('assets/fonts/2C8F17_1_0.ttf') format("truetype")
}

@font-face {
  font-family: ThingBats;
  src: url('assets/fonts/thingbatsmono.eot');
  src: url('assets/fonts/thingbatsmono.eot?#iefix') format("embedded-opentype"),url('assets/fonts/thingbatsmono.woff2') format("woff2"),url('assets/fonts/thingbatsmono.woff') format("woff"),url('assets/fonts/thingbatsmono.ttf') format("truetype"),url('assets/fonts/thingbatsmono.svg#thingbatsmono') format("svg");
  font-weight: 400;
  font-style: normal
}

.why-ownit {
  font-family: 'CreightonPro-Book', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ececec !important;
  background: #092129;
  font-size: 1.2em !important;
  letter-spacing: .020em;
  overflow-x: hidden;
  font-weight: 400;
  line-height: 1.4;

  p{
    color: #ececec !important;
    font-size: 1.2em;
  }

  a {
    color: #f7c600 !important;

    &:hover, &:visited, &:focus, &:active {
      color: #ffd735 !important;
    }
  }

  h1, h2, h3, h4, h5 {
    font-family: 'Thingbats', 'Raleway', Helvetica, Arial, sans-serif !important;
  }

  h1, h2, h3 {
    text-transform: uppercase !important;
    color: #f7c600 !important;
  }

  h1 {
    font-size: 2.6em !important;
  }

  h2 {
    font-size: 1.9em !important;
  }

  h3 {
    font-size: 1.7em !important;
  }

  h4 {
    font-size: 1.6em !important;
  }

  h5 {
    font-size: 1.3em !important;
    color: #f7c600 !important;
  }

  @include media-breakpoint-up(md) {
    h1 {
      font-size: 2.8em !important;
    }

    h2 {
      font-size: 2.2em !important;
    }

    h3 {
      font-size: 1.9em !important;
    }

    h4 {
      font-size: 1.6em !important;
    }

    h5 {
      font-size: 1.3em !important;
    }
  }

  @include media-breakpoint-up(lg) {
    h1 {
      font-size: 3.2em !important;
    }
  }

  section {
    margin-bottom: 3.8em;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .btn-group {

    > .btn {
      padding: 0.6em 0.8em;
      font-size: 1.1em !important;
    }

    @include media-breakpoint-up(sm) {
      > .btn {
        padding: 0.8em 1.8em;
        font-size: 1.3em !important;
      }
    }

    > .btn:not(:last-child) {
      border-right: solid #1e86a4 3px;

      &:hover, &:active, &:focus, &.active {
        border-right: solid #1e86a4 3px;
      }
    }
  }

  .btn {
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.2s ease-in-out;
    font-family: CreightonPro-Book, Helvetica, Arial, sans-serif;
    font-size: 1.0em !important;
    font-weight: 400;
    display: inline-block;
    margin-bottom: .605em;
    outline: 0 none;
    padding: .4em 3em;
    width: auto;
    text-transform: uppercase;
    text-decoration: none !important;
    border-radius: 1.6em;
    border: none;
    cursor: pointer;

    &.btn-primary {
      background: #f7c600;
      color: #333;

      &:hover, &:active, &:focus, &.active {
        background: #ffd735;
        color: #333;
        outline: none;
        box-shadow: none;
      }
    }
  }

  .img-responsive {
    width: 100%;
  }

  @keyframes mini-bounce {
    4% {
      transform: rotate(20deg);
    }

    10% {
      transform: rotate(-15deg);
    }

    14% {
      transform: rotate(8deg);
    }

    17% {
      transform: rotate(-4deg);
    }

    20% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(0);
    }
  }

  @keyframes mini-bounce-jump {
    5% {
      transform: translate(0px, -10px);
    }

    7% {
      transform: translate(0px, 0px);
    }

    10% {
      transform: translate(0px, -5px);
    }

    12% {
      transform: translate(0px, 0px);
    }

    15% {
      transform: translate(0px, 2px);
    }

    50% {
      transform: translate(0px, 0px);
    }
  }

  .mini-bounce {
    animation-duration: 3s;
    animation-name: mini-bounce;
    transform-origin: center center;
  }

  .mini-bounce-jump {
    animation-duration: 5s;
    animation-name: mini-bounce-jump;
    transform-origin: center center;
  }

  .slow {
    animation-duration: 2s;
  }
}
